In [18]:
import numpy as np
import pandas as pd
from hmmlearn.hmm import GaussianHMM
from sklearn import preprocessing

In [2]:
data = pd.read_csv('/home/yannik/Documents/Research/bayesian_control/CMAPPS/train_FD001.txt', sep=" ", header=None)

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,NaN,NaN
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,NaN,NaN
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,NaN,NaN
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,NaN,NaN
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,NaN,NaN

In [4]:
cols = [0,1,26,27]
data.drop(data.columns[cols],axis=1,inplace=True)

In [5]:
data.describe()

,2,3,4,5,6,7,8,9,10,11,...,16,17,18,19,20,21,22,23,24,25
count,20631.000000,20631.000000,20631.0,20631.00,20631.000000,20631.000000,20631.000000,2.063100e+04,20631.000000,20631.000000,...,20631.000000,20631.000000,20631.000000,20631.000000,2.063100e+04,20631.000000,20631.0,20631.0,20631.000000,20631.000000
mean,-0.000009,0.000002,100.0,518.67,642.680934,1590.523119,1408.933782,1.462000e+01,21.609803,553.367711,...,521.413470,2388.096152,8143.752722,8.442146,3.000000e-02,393.210654,2388.0,100.0,38.816271,23.289705
std,0.002187,0.000293,0.0,0.00,0.500053,6.131150,9.000605,1.776400e-15,0.001389,0.885092,...,0.737553,0.071919,19.076176,0.037505,1.387812e-17,1.548763,0.0,0.0,0.180746,0.108251
min,-0.008700,-0.000600,100.0,518.67,641.210000,1571.040000,1382.250000,1.462000e+01,21.600000,549.850000,...,518.690000,2387.880000,8099.940000,8.324900,3.000000e-02,388.000000,2388.0,100.0,38.140000,22.894200
25%,-0.001500,-0.000200,100.0,518.67,642.325000,1586.260000,1402.360000,1.462000e+01,21.610000,552.810000,...,520.960000,2388.040000,8133.245000,8.414900,3.000000e-02,392.000000,2388.0,100.0,38.700000,23.221800
50%,0.000000,0.000000,100.0,518.67,642.640000,1590.100000,1408.040000,1.462000e+01,21.610000,553.440000,...,521.480000,2388.090000,8140.540000,8.438900,3.000000e-02,393.000000,2388.0,100.0,38.830000,23.297900
75%,0.001500,0.000300,100.0,518.67,643.000000,1594.380000,1414.555000,1.462000e+01,21.610000,554.010000,...,521.950000,2388.140000,8148.310000,8.465600,3.000000e-02,394.000000,2388.0,100.0,38.950000,23.366800
max,0.008700,0.000600,100.0,518.67,644.530000,1616.910000,1441.490000,1.462000e+01,21.610000,556.060000,...,523.380000,2388.560000,8293.720000,8.584800,3.000000e-02,400.000000,2388.0,100.0,39.430000,23.618400

In [6]:
data.std() < 0.01

2      True
3      True
4      True
5      True
6     False
7     False
8     False
9      True
10     True
11    False
12    False
13    False
14     True
15    False
16    False
17    False
18    False
19    False
20     True
21    False
22     True
23     True
24    False
25    False
dtype: bool

In [7]:
cols=[4,5,9,10,14,20,22,23]
data.drop(data.columns[cols],axis=1,inplace=True)

In [8]:
x = data.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
data = pd.DataFrame(x_scaled)

# columns 2,3 represent states. the rest are observations.

In [9]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.459770,0.166667,0.0,0.0,0.309757,0.0,1.0,0.109755,0.0,0.369048,0.205882,0.199608,0.363986,0.0,0.333333,0.0
1,0.609195,0.250000,0.0,0.0,0.352633,0.0,1.0,0.100242,0.0,0.380952,0.279412,0.162813,0.411312,0.0,0.333333,0.0
2,0.252874,0.750000,0.0,0.0,0.370527,0.0,1.0,0.140043,0.0,0.250000,0.220588,0.171793,0.357445,0.0,0.166667,0.0
3,0.540230,0.500000,0.0,0.0,0.331195,0.0,1.0,0.124518,0.0,0.166667,0.294118,0.174889,0.166603,0.0,0.333333,0.0
4,0.390805,0.333333,0.0,0.0,0.404625,0.0,1.0,0.149960,0.0,0.255952,0.235294,0.174734,0.402078,0.0,0.416667,0.0

In [10]:
data.std()

0     0.125708
1     0.244218
2     0.000000
3     0.000000
4     0.151935
5     0.000000
6     0.138898
7     0.099089
8     0.000000
9     0.158981
10    0.105763
11    0.098442
12    0.144306
13    0.000000
14    0.129064
15    0.000000
dtype: float64

In [11]:
cols=[2,3,5,8,13,15]
data.drop(data.columns[cols],axis=1,inplace=True)

In [12]:
data.head()

,0,1,4,6,7,9,10,11,12,14
0,0.459770,0.166667,0.309757,1.0,0.109755,0.369048,0.205882,0.199608,0.363986,0.333333
1,0.609195,0.250000,0.352633,1.0,0.100242,0.380952,0.279412,0.162813,0.411312,0.333333
2,0.252874,0.750000,0.370527,1.0,0.140043,0.250000,0.220588,0.171793,0.357445,0.166667
3,0.540230,0.500000,0.331195,1.0,0.124518,0.166667,0.294118,0.174889,0.166603,0.333333
4,0.390805,0.333333,0.404625,1.0,0.149960,0.255952,0.235294,0.174734,0.402078,0.416667

In [13]:
data.std()

0     0.125708
1     0.244218
4     0.151935
6     0.138898
7     0.099089
9     0.158981
10    0.105763
11    0.098442
12    0.144306
14    0.129064
dtype: float64

In [14]:
# first two columns represent states, the rest are measurements. All of these are normalized.
data.head()

,0,1,4,6,7,9,10,11,12,14
0,0.459770,0.166667,0.309757,1.0,0.109755,0.369048,0.205882,0.199608,0.363986,0.333333
1,0.609195,0.250000,0.352633,1.0,0.100242,0.380952,0.279412,0.162813,0.411312,0.333333
2,0.252874,0.750000,0.370527,1.0,0.140043,0.250000,0.220588,0.171793,0.357445,0.166667
3,0.540230,0.500000,0.331195,1.0,0.124518,0.166667,0.294118,0.174889,0.166603,0.333333
4,0.390805,0.333333,0.404625,1.0,0.149960,0.255952,0.235294,0.174734,0.402078,0.416667

In [22]:
measurements=data[data.columns[2:]] 
model = GaussianHMM(n_components=4, n_iter=1000).fit(measurements)

In [24]:
data[data.columns[2:]].head()

         4    6         7         9         10        11        12        14
0  0.309757  1.0  0.109755  0.369048  0.205882  0.199608  0.363986  0.333333
1  0.352633  1.0  0.100242  0.380952  0.279412  0.162813  0.411312  0.333333
2  0.370527  1.0  0.140043  0.250000  0.220588  0.171793  0.357445  0.166667
3  0.331195  1.0  0.124518  0.166667  0.294118  0.174889  0.166603  0.333333
4  0.404625  1.0  0.149960  0.255952  0.235294  0.174734  0.402078  0.416667

In [25]:
hidden_states=model.predict(measurements)

In [27]:
hidden_states

array([3, 3, 3, ..., 1, 1, 1])

In [29]:
P=model.transmat_

In [34]:
mus=model.means_
covars=model.covars_

In [35]:
P, mus, covars

(array([[0.98186973, 0.01193391, 0.00103178, 0.00516458],
        [0.00929334, 0.97733325, 0.00147244, 0.01190098],
        [0.02604527, 0.00501219, 0.09359606, 0.87534648],
        [0.0125339 , 0.00135214, 0.04790575, 0.93820821]]),
 array([[0.46325048, 1.        , 0.15538026, 0.42811363, 0.34595666,
         0.18353306, 0.46110516, 0.4386024 ],
        [0.64212516, 1.        , 0.2836877 , 0.61548536, 0.42214096,
         0.299582  , 0.62463058, 0.58265359],
        [0.28907126, 0.        , 0.18171739, 0.2318643 , 0.19972472,
         0.22756279, 0.29932126, 0.31506568],
        [0.3213893 , 1.        , 0.18278212, 0.27108159, 0.22609169,
         0.22542987, 0.33640232, 0.34008189]]),
 array([[[6.60816161e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 1.23320578e-06, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 2.02586343e-03, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 5.97768191e-03,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          3.21781597e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 2.02599851e-03, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 7.55376466e-03, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 7.18080679e-03]],

        [[1.29036758e-02, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 2.10301693e-06, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 2.58330174e-02, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.39497400e-02,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          1.11744786e-02, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 2.77251687e-02, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 1.24908706e-02, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.07947416e-02]],

        [[6.17851791e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 2.46305419e-05, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 1.67235369e-03, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 6.24999571e-03,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          3.20082933e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 1.51029818e-03, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 7.89603333e-03, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 6.92614511e-03]],

        [[6.73874856e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 1.35851477e-06, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 1.54232723e-03, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 6.21937056e-03,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          3.32960335e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 1.45548563e-03, 0.00000000e+00, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 7.55285097e-03, 0.00000000e+00],
         [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
          0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 7.52516099e-03]]]))

In [36]:
sigmas = np.array(np.sqrt(np.array([np.diag(model.covars_[0]),np.diag(model.covars_[1]),np.diag(model.covars_[2]),np.diag(model.covars_[3])])))

In [37]:
sigmas, mus

(array([[0.0812906 , 0.0011105 , 0.04500959, 0.07731547, 0.0567258 ,
         0.04501109, 0.0869124 , 0.08473964],
        [0.11359435, 0.00145018, 0.16072653, 0.11810902, 0.10570941,
         0.16650876, 0.11176256, 0.10389775],
        [0.07860355, 0.00496292, 0.04089442, 0.07905691, 0.05657587,
         0.03886256, 0.08885963, 0.08322346],
        [0.08208988, 0.00116555, 0.03927247, 0.07886299, 0.05770272,
         0.03815083, 0.08690714, 0.08674769]]),
 array([[0.46325048, 1.        , 0.15538026, 0.42811363, 0.34595666,
         0.18353306, 0.46110516, 0.4386024 ],
        [0.64212516, 1.        , 0.2836877 , 0.61548536, 0.42214096,
         0.299582  , 0.62463058, 0.58265359],
        [0.28907126, 0.        , 0.18171739, 0.2318643 , 0.19972472,
         0.22756279, 0.29932126, 0.31506568],
        [0.3213893 , 1.        , 0.18278212, 0.27108159, 0.22609169,
         0.22542987, 0.33640232, 0.34008189]]))